<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-sm navbar-light bg-primary">
    <div class="container">
      <a class="navbar-brand text-white" href="#">Quản lí dự án</a>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white active" href="#" aria-current="page"
              >Bảng điều khiển <span class="visually-hidden">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Giới thiệu</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link text-white dropdown-toggle"
              href="#"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Dự án</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#" routerLink="themduan"
                >Thêm dự án</a
              >
              <a class="dropdown-item" href="#" routerLink="danhsachduan"
                >Danh sách dự án</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link text-white dropdown-toggle"
              href="#"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Task</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#" routerLink="themtask"
                >Thêm task</a
              >
              <a class="dropdown-item" href="#" routerLink="dstask"
                >Danh sách task</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link text-white dropdown-toggle"
              href="#"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Nhân viên</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#" routerLink="themnv"
                >Thêm Nhân viên</a
              >
              <a class="dropdown-item" href="#" routerLink="dsnhanvien"
                >Danh sách Nhân viên</a
              >
            </div>
          </li>
        </ul>
        <form class="d-flex my-2 my-lg-0">
          <input
            class="form-control me-sm-2"
            name="search"
            type="text"
            placeholder="Search"
            #searchContent
          />
          <button
            class="btn btn-outline-light my-2 my-sm-0"
            routerLink="search"
            (click)="getData(searchContent.value)"
            type="button"
          >
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>
  <nav class="bg-light p-2">
    <ol class="breadcrumb m-0">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
      <li class="breadcrumb-item" aria-current="page">Dự án</li>
    </ol>
  </nav>
  <main class="d-flex" style="min-height: 450px">
    <aside class="col-md-3" id="cottrai">
      <app-cot-trai></app-cot-trai>
    </aside>
    <article class="col-md-6 px-2" id="cotgiua">
      <router-outlet></router-outlet>
    </article>
    <aside class="col-md-3 bg-light" id="cotphai">
      <app-cot-phai></app-cot-phai>
    </aside>
  </main>
  <footer class="bg-dark text-white" style="height: 45px"></footer>
</div>
