<div *ngIf="searchDA.length !== 0">
  <h3 class="bg-primary rounded text-uppercase text-center p-2 text-white">
    DANH SÁCH DỰ ÁN
  </h3>
  <table class="table text-center">
    <tbody>
      <tr *ngFor="let da of searchDA">
        <td>{{ da.id }}</td>
        <td>
          <a href="#" routerLink="/chitietduan/{{ da.id }}">{{ da.tenDuAn }}</a>
        </td>
        <td>{{ da.ngayStart | date : "dd/MM/YYYY" }}</td>
        <td>{{ da.tien | currency : "VND" : "symbol" : "4.0-2" : "fr" }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="getData(da.id)"
          >
            Sửa
          </button>
          <button type="button" class="btn btn-danger">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="searchTask.length !== 0">
  <h3 class="bg-primary rounded text-uppercase text-center p-2 text-white">
    DANH SÁCH TASK
  </h3>

  <div *ngFor="let task of searchTask" class="mb-3">
    <div>
      <b>{{ task.tenTask }} </b><br />
      {{ task.moTa }}
    </div>
    <div class="mb-3 border-bottom row">
      <div class="col-6">
        Độ ưu tiên: {{ task.priority }}<br />
        Trạng thái: {{ task.status == 0 ? "Đang thực hiện" : "Hoàn thành" }}
      </div>
      <div class="col-6">
        Nhân viên thực hiện: {{ getNVTask(task.nhanvienID) }}<br />
        Dự án thực hiện: {{ getDATask(task.duAnID) }}
      </div>
    </div>
  </div>
</div>
<div *ngIf="searchNV.length !== 0">
  <h3 class="bg-primary rounded text-uppercase text-center p-2 text-white">
    DANH SÁCH NHÂN VIÊN
  </h3>
  <table class="table text-center">
    <tbody>
      <tr *ngFor="let nv of searchNV">
        <td>{{ nv.id }}</td>
        <td>{{ nv.ho }} {{ nv.ten }}</td>
        <td>{{ nv.ngaysinh | date : "dd/MM/YYYY" }}</td>
        <td>{{ nv.phai ? "Nam" : "Nữ" }}</td>
        <td>{{ nv.khuvuc }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-uppercase" id="exampleModalLabel">
          Thông tin dự án
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6 py-2">ID</div>
          <div class="col-6 py-2">
            <input
              class="px-1 border-top-0 border-start-0 border-end-0"
              type="text"
              [(ngModel)]="dataDA.id"
            />
          </div>
          <div class="col-6 py-2">Tên dự án</div>
          <div class="col-6 py-2">
            <input
              class="px-1 border-top-0 border-start-0 border-end-0"
              type="text"
              [(ngModel)]="dataDA.tenDuAn"
            />
          </div>
          <div class="col-6 py-2">Ngày bắt đầu</div>
          <div class="col-6 py-2">
            <input
              class="px-1 border-top-0 border-start-0 border-end-0"
              type="date"
              [(ngModel)]="dataDA.ngayStart"
            />
          </div>
          <div class="col-6 py-2">Chi phí</div>
          <div class="col-6 py-2">
            <input
              class="px-1 border-top-0 border-start-0 border-end-0"
              type="tien"
              [(ngModel)]="dataDA.tien"
            />
          </div>
          <div class="col-6 py-2">Leader ID</div>
          <div class="col-6 py-2">
            <input
              class="px-1 border-top-0 border-start-0 border-end-0"
              type="text"
              [(ngModel)]="dataDA.leader"
            />
          </div>
          <div class="col-6 py-2">Thành viên ID</div>
          <div class="col-6 py-2">
            <input
              class="px-1 border-top-0 border-start-0 border-end-0"
              type="text"
              [(ngModel)]="dataDA.thanhvien"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
